body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    overflow: hidden;
    /* Prevent scrolling if possible */
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#page-indicator {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    pointer-events: none;
    z-index: 10;
}